    <ion-view>
      <ion-header-bar class="bar-stableb bg-color-white">
      <button class="common-button button button-positive button-clear button_text ion-chevron-left txt-color-black"></button>
		<div class="bmd-spclity-head">Book Appointment</div>
      </ion-header-bar>
	<ion-content class="theme-bg">
    <div class="bmd-appmnt-wrapper" ng-init="load_doc_schedule()" scroll-to-top="isAtTop">
      <!--div class="bmd-appmnt-tab">
        <ul>
          <li class="bmd-appmnt-tab-current">Patient</li>
          <li ng-class="{'bmd-appmnt-tab-current' : AppointmentDetails.confirm || AppointmentDetails.success}">Appointment</li>
          <li ng-class="{'bmd-appmnt-tab-current' : AppointmentDetails.success}">Finished</li>
        </ul>
      </div-->
    <div class="bmd-appmnt-content">
      <div class="bmd-appmnt-content-head" > 
        <h1>HCP Scheduling</h1>
      </div>      

      <div class="tab_container">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1"><span>Work Plan</span></label>
  
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2"><span>Break</span></label>
  
        <input id="tab3" type="radio" name="tabs">
        <label for="tab3"><span>Vacation</span></label>
  
        <section id="content1" class="tab-content">
          <h3>Work Plan</h3>
              <p>
                  <form  name="loginform" ng-submit="submitschedule(docschedule)">
                <table class="full_day">
                  <thead>
                    <tr>
                      <th>Day</th>
                      <th>Start</th>
                      <th>End</th>
                    </tr>
                  </thead>
                  <tbody>
                               
                    <tr>
                      <td><ul><li><span>Monday</span></li></ul></td>
                      <td><h4><select name="work[tue][start]" ng-model="docschedule.mon.start"   >
                          <option ng-repeat="time in times">{{time}}</option>
                      </select></h4></td>
                      <td><h4><select name="work[tue][end]" ng-model="docschedule.mon.end" >
                          <option ng-repeat="time in times">{{time}}</option>
                        </select></h4></td>
                    </tr>

                    <tr>
                      <td><ul><li><span>Tuesday</span></li></ul></td>
                      <td><h4><select name="work[tue][start]" ng-model="docschedule.tue.start"  >
                          <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                      <td><h4><select name="work[tue][end]" ng-model="docschedule.tue.end" >
                          <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                    </tr>

                    <tr>
                      <td><ul><li><span>Wednesday</span></li></ul></td>
                      <td><h4><select ng-model="docschedule.wed.start" name="work[tue][start]" >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                      <td><h4><select name="work[tue][end]" ng-model="docschedule.wed.end" >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                    </tr>

                    <tr>
                      <td><ul><li><span>Thursday</span></li></ul></td>
                      <td><h4><select name="work[tue][start]" ng-model="docschedule.thu.start"  >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                      <td><h4><select name="work[tue][end]" ng-model="docschedule.thu.end"  >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                    </tr>

                    <tr>
                      <td><ul><li><span>Friday</span></li></ul></td>
                      <td><h4><select ng-model="docschedule.fri.start" name="work[tue][start]"  >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                      <td><h4><select name="work[tue][end]" ng-model="docschedule.fri.end"  >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                    </tr>
                    
                    
                    <tr>
                      <td><ul><li><span>Saturday</span></li></ul></td>
                      <td><h4><select name="work[tue][start]" ng-model="docschedule.sat.start"  >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                      <td><h4><select name="work[tue][end]" ng-model="docschedule.sat.end"  >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                    </tr>

                    <tr>
                      <td><ul><li><span>Sunday</span></li></ul></td>
                      <td><h4><select ng-model="docschedule.sun.start" name="work[tue][start]"  >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                      <td><h4><select ng-model="docschedule.sun.end" name="work[tue][end]"  >
                      <option ng-repeat="time in times">{{time}}</option>  
                      </select></h4></td>
                    </tr>
                    <tr>
                      <td style="width: 100%;" colspan="3">
                        <button class="bmd-main-btn bmd-apponmnt-button"   ng-click="submitted=true">Save Doctor Schedule</button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                  </form>
              </p>
        </section>

        <!--datalist id="time">
          <option ng-repeat="time in times">{{time}}</option>
        </datalist-->
  
        <section id="content2" class="tab-content">
          <h3>Break</h3>
          <p>
              <form  name="loginform" ng-submit="submitbrake(docsbrk)">
            <table class="full_day">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Start</th>
                  <th>End</th>
                </tr>
              </thead>
              <tbody>
                           
                <tr>
                  <td><ul><li><span>Monday</span></li></ul></td>
                  <td><h4><select  name="work[tue][start]" ng-model="docsbrk.mon.start" >
                    <option ng-repeat="time in times">{{time}}</option>
                  </select>
                  </h4></td>
                  <td><h4><select name="work[tue][end]" ng-model="docsbrk.mon.end">
                      <option ng-repeat="time in times">{{time}}</option>
                  </select></h4></td>
                </tr>

                <tr>
                  <td><ul><li><span>Tuesday</span></li></ul></td>
                  <td><h4><select  name="work[tue][start]" ng-model="docsbrk.tue.start">
                      <option ng-repeat="time in times">{{time}}</option>
                  </select></h4></td>
                  <td><h4><select name="work[tue][end]" ng-model="docsbrk.tue.end">
                      <option ng-repeat="time in times">{{time}}</option>
                  </select></h4></td>
                </tr>

                <tr>
                  <td><ul><li><span>Wednesday</span></li></ul></td>
                  <td><h4><select ng-model="docsbrk.wed.start" name="work[tue][start]">
                      <option ng-repeat="time in times">{{time}}</option>  
                  </select></h4></td>
                  <td><h4><select name="work[tue][end]" ng-model="docsbrk.wed.end" >
                      <option ng-repeat="time in times">{{time}}</option>
                    </select></h4></td>
                </tr>

                <tr>
                  <td><ul><li><span>Thursday</span></li></ul></td>
                  <td><h4><select name="work[tue][start]" ng-model="docsbrk.thu.start"  >
                      <option ng-repeat="time in times">{{time}}</option>
                    </select></h4></td>
                  <td><h4><select name="work[tue][end]" ng-model="docsbrk.thu.end"  >
                  <option ng-repeat="time in times">{{time}}</option>  
                  </select></h4></td>
                </tr>

                <tr>
                  <td><ul><li><span>Friday</span></li></ul></td>
                  <td><h4><select  ng-model="docsbrk.fri.start" name="work[tue][start]"  >
                  <option ng-repeat="time in times">{{time}}</option>  
                  </select></h4></td>
                  <td><h4><select name="work[tue][end]" ng-model="docsbrk.fri.end"  >
                  <option ng-repeat="time in times">{{time}}</option>  
                  </select></h4></td>
                </tr>
                
                
                <tr>
                  <td><ul><li><span>Saturday</span></li></ul></td>
                  <td><h4><select  name="work[tue][start]" ng-model="docsbrk.sat.start"  >
                  <option ng-repeat="time in times">{{time}}</option>  
                  </select></h4></td>
                  <td><h4><select name="work[tue][end]" ng-model="docsbrk.sat.end"  >
                  <option ng-repeat="time in times">{{time}}</option>  
                  </select></h4></td>
                </tr>

                <tr>
                  <td><ul><li><span>Sunday</span></li></ul></td>
                  <td><h4><select  ng-model="docsbrk.sun.start" name="work[tue][start]"  >
                  <option ng-repeat="time in times">{{time}}</option>  
                  </select></h4></td>
                  <td><h4><select  ng-model="docsbrk.sun.end" name="work[tue][end]"  >
                  <option ng-repeat="time in times">{{time}}</option>  
                  </select></h4></td>
                </tr>
                <tr><td style="width: 100%;" colspan="3"><button class="bmd-main-btn bmd-apponmnt-button" ng-click="submitted=true">Save Doctor Breaks Time</button></td></tr>
              </tbody>
            </table>

              </form>
          </p>
        </section>
  
        <section id="content3" class="tab-content">
          <h3>Vacation</h3>
              
          
          
          <p>
              <form  name="loginform" ng-submit="submitvaccation(docsvac)">
              <table class="full_day full_day3r">
                  <thead>
                    <tr>
                      <th>Start Date</th>
                      <th>End Date</th>   
                    </tr>
                  </thead>
                 <tbody class="parent_class2">
                    <tr>
                      <td><h6><input type="date" ng-model="docsvac.startdate" name="startdate[]" value=""></h6></td>
                      <td><h6><input type="date" ng-model="docsvac.enddate" name="enddate[]" value=""></h6></td>
                      
                    </tr> 
                    <tr><td style="width: 100%;" colspan="2"><button class="bmd-main-btn bmd-apponmnt-button" ng-click="submitted=true">Save Vaccation</button></td></tr>
                  </tbody>
                </table>
                </form>
              </p>



        </section>
  
      
      </div>
  




    </div>
  </div>

</ion-content>

    </ion-view>