<ion-modal-view class="sign_form">  
  <ion-header-bar>
    <button ng-click="closeDoctorSignup()" class="common-button button button-positive button-clear button_text ion-chevron-left txt-color-black" style="color:white !important;"></button>
    <div class="bmd-spclity-head">SignUp</div>
  </ion-header-bar>
	<ion-content class="theme-bg" ng-init="submitted=false">
		<div class="bmd-title-logo">
		<img src="img/bmd-signinlogo.png">
		</div>
		<form  name="signupform" ng-submit="signupform.$valid && doDocSignup()">
			
		<div class="bmd-usr-wrapper">
			<div class="error_block" ng-show="signupError==false">
	          {{signupMessage}}
	        </div>
	        <div class="success_block" ng-show="signupError">
	          {{signupMessage}}
			</div>
		<div class="bmd-usr">
					<div class="bmd-usr1"><img src="img/bmd-usr.png"></div>
					<div class="bmd-usr2">
					<select class="bmd-style bmd-drop" required ng-model="signUpData.role_id">
						<option value="">Select Role</option>
						<option ng-repeat="role in roles" value="{{role.id}}">{{ role.role_name }}</option>
					</select>
					</div>
		</div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-usr.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" name="firstname" type="text" placeholder="First Name" ng-model="signUpData.firstname" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.firstname.$error.required">First Name is required.</div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-usr.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" name="lastname" type="text" placeholder="Last Name" ng-model="signUpData.lastname" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.lastname.$error.required">Last Name is required.</div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-mail.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" name="email" type="email" placeholder="Email" ng-model="signUpData.email" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.email.$error.required">Email-Id is required.</div>
		<div class="bmd-field error" ng-show="signupform.email.$touched && signupform.email.$invalid">Invalid Email-ID.</div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-pass.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" name="password" type="password" ng-minlength="6" placeholder="Password" ng-model="signUpData.password" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.password.$error.required">Password is required.</div>
		<div class="bmd-field error" ng-show="signupform.password.$touched && signupform.password.$minlength">Password should have minimum 6 characters.</div>
		<div class="bmd-usr">
			<div class="bmd-usr2">
				<input gm-places-autocomplete ng-model="signUpData.location_data" type="text" class="bmd-usr-input" placeholder="{{localLocation}}">
			</div>
		</div>
		
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-phne.png"></div>
			<div class="bmd-usr2">
			<input class="bmd-usr-input" type="text" name="phone" placeholder="Mobile" ng-model="signUpData.phone" ng-minlength="10"  ng-maxlength="11" required>
			</div>
		</div>
		<div class="bmd-field error" ng-show="submitted  && signupform.phone.$error.required">Mobile Number is required.</div>
		<div class="bmd-field error" ng-show="signupform.phone.$touched && signupform.phone.$error.minlength">Mobile Number should be 11 digits.</div>
		<div class="bmd-field error" ng-show="signupform.phone.$touched && signupform.phone.$error.maxlength">Mobile Number should be 11 digits.</div>
		<div class="bmd-usr">
			<div class="bmd-usr1"><img src="img/bmd-usr.png"></div>
			<div class="bmd-usr2">
			<select class="bmd-style bmd-drop" required ng-model="signUpData.gender">
				<option value="">Select Gender</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
			</div>
		</div>
		
		<button class="bmd-main-btn"  ng-click="submitted=true">Join now</button>

		</div>
	</form>

	</ion-content>

</ion-modal-view>
