<ion-modal-view  class="sign_form">
    <ion-header-bar class="bar-stableb bg-color-white">
    <button ng-click="closeLogin()" class="common-button button button-positive button-clear button_text ion-chevron-left txt-color-black" style="color:white !important;"></button>
      <div class="bmd-spclity-head">LogIn</div>
    </ion-header-bar>
    <ion-content  class="padding theme-bg">
     <div class="bmd-title-logo">
         <img src="img/1.png" />
     </div>

       <div class="scroll" style="width:100%">
        <div style="text-align: center;"><img width="300" src="img/under_.png" /></div>
  
       </div>
    </ion-content>
  </ion-modal-view>
  
  